<%= render 'layouts/header' %>

<div class="pages_label">About</div>

<div class="pages_content about_content">

Enter photos, win prizes, and discover great shots








</div>

<%= render 'layouts/footer' %>