<%= render 'layouts/header' %>

<div class="pages_label">Policies</div>

<div class="pages_content">
<p>
PLEASE READ THESE TERMS OF USE BEFORE SIGNING UP AND PARTICIPATING IN ONTRAST.COM. THESE TERMS OUTLINE THE AGREEMENT BETWEEN THE WEBSITE AND THE USER. IT IS TO PROVIDE BOTH PARTIES WITH SAFETY WHILE USING THE SERVICES OFFERED BY ONTRAST.COM AND ANY ASSOCIATED WEBSITES. IF YOU ARE WILLING TO ENTER THE BRAND/USER AGREEMENT, THEN AND ONLY THEN, MAY YOU SIGN UP.

</p>
<p>
The services that are offered through Ontrast.com are provided as is and does not contain any sort of warranty or protection. We reserve the right to discontinue any post, account, feature, or service all together with or without reason at our sole discretion.
</p>
<p>
Since this is a site for all ages, you may not post any images or written text of an inappropriate nature. These posts will be removed immediately. Inappropriate posts contain, but are not limited to, images of sexual nature, gore, and illegal substances or actions. Please use common sense.
</p>
<p>
Only post original images, searches will be done to enforce this. It will void you of any opportunity to win a contest.
</p>
<p>
We reserve the right to modify any terms and conditions at any time for any reason, with or without notification to the users.
</p>
<p>
We do not provide any security for theft of images or anything else that you put on the website, brand.com.
</p>
<p>
We will not share any of your personal information or send you any unrequested emails.
</p>
<p>
we are not responsible for any hacking or other illegal activity that may compromise our database. If this is to happen, legal action will be taken
</p>
<p>

For any questions, please email us at hello@ontrast.com

</div>

<%= render 'layouts/footer' %>