<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td>
          <%= link_to 'Edit', edit_admin_admin_path(admin), class: 'btn btn-warning' %>
          <%= link_to 'Delete', admin_admin_path(admin), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } unless current_admin == admin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New admin', new_admin_admin_path, class: 'btn btn-primary' %>