<%= render 'layouts/header' %>
<%= render 'layouts/headerblock' %>
<div class="awaiting_approval_title">Awaiting Approval</div>

<div class="contest_box">
	<div class="all_contest_title">Contest Title</div>
</div>