<%= render 'layouts/header' %>
<%= render 'layouts/headerblock' %>
<div class="awaiting_approval_title">Awaiting Approval (Only can be viewed by admin)</div>

<div class="contest_box">
	<b>Contest Title</b>
	<button class="approve_button">Approve</button>
</div>