<%= render 'layouts/header' %>
<%= render 'layouts/headerblock' %>


	<div class="header_image">
		<div class="contest_title">Title</div>

		<!-- Display Header Image from New Contest Form Here -->

	</div>


<div class="contest_tabs_restrict">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Current Entries</a></li>
	  <li role="presentation"><a href="#">Rules</a></li>
	  <li role="presentation"><a href="#">Submit</a></li>
	</ul>




<!-- in 'current_entries' tab -->

<br>
 <div id="photos">
     <div class="box">

     	<!--Photo tag goes here -->

     </div>
</div>

<!-- in 'rules' tab 

Display rules from new contest form

-->


<!-- in 'submit' tab -->

<button type="button">Select Photo</button>
	<br><br>
	<input class="form-control", placeholder= "Caption (optional)"></input>
	<br>
	<input class="form-control", placeholder= "Name"></input>
	<br>
	<input class="form-control", placeholder= "Email"></input>




</div>