<%= render 'layouts/header' %>
<%= render 'layouts/headerblock' %>


	<div class="header_image">
		<div class="contest_title">Title</div>
	</div>


<div class="contest_tabs_restrict">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Current Entries</a></li>
	  <li role="presentation"><a href="#">Rules</a></li>
	  <li role="presentation"><a href="#">Submit</a></li>
	</ul>
</div>