
	<%= render 'layouts/header' %>
	<%= render 'layouts/headerblock' %>

	<div class="container">
	<br>
	<button type="button">Select Header Photo</button>
	<br><br>
	<input class="form-control", placeholder= "title"></input>
	<br>
	<input class="form-control", placeholder= "prize"></input>
	<br>
	<input class="form-control", placeholder= "description"></input>
	<br>
	<input class="form-control", placeholder= "rules (optional, but the standard rules will be in place)"></input>
	<br>
	<input class="form-control", placeholder= "name"></input>
	<br>
	<input class="form-control", placeholder= "company (optional)"></input>
	<br>
	<input class="form-control", placeholder= "email"></input>


	<!-- Somehow have a way of displaying time of contest, then have a countdown (starting when i approve) -->

</div>
