<div class="footer">
	<div class="foot_contain">
		<div class="footnav first_foot"><%= link_to "about", about_path %></div>
		<div class="footnav"> <%= link_to "help", help_path %></div>
		<div class="footnav"><%= link_to "contact", contact_path %></div>
		<div class="footnav"><%= link_to "policies", policies_path %></div>
		<div class="footnav"><a href="#">blog</a></div>
	</div>

</div>
